.form-splash-image {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.form-splash-image-small {
    object-fit: cover;
    width: 80%;
    height: 64px;
}

a {
    text-decoration: none;
}

.color-square:hover {
    cursor: pointer;
}

.MuiListItemText-primary {
    font-size: 14px !important;
    font-weight: 500 !important;
}