html {
    overflow-y: scroll;
}

.filters {
    position: sticky;
    height: 100vh;
    top: 0;
    overflow-y: auto;
    max-width: 15vw;
}

.navigation-rail-item:hover * {
    font-weight: bold;
    cursor: pointer;
}

.selected-rail-item * {
    font-weight: bold;
}

.medium {
    min-height: 85vh;
}

.container-div img {
    height: 100%;
}

.gallery-dialog .MuiDialogContent-root {
    padding: 0 !important;
}

.dialog-image:hover {
    cursor: pointer;
}