.filters {
    position: sticky;
    height: 100vh;
    top: 0;
    overflow-y: auto;
    max-width: 15vw;
}

.navigation-rail-item:hover * {
    font-weight: bold;
    cursor: pointer;
}

.selected-rail-item * {
    font-weight: bold;
}

.medium {
    min-height: 85vh;
}

.container-div img {
    height: 100%;
}

.gallery-dialog .MuiDialogContent-root {
    padding: 0 !important;
}

.dialog-image:hover {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}