.artImage:hover {
    cursor: pointer;
}

.css-n49kub-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--md-sys-color-primary) !important;
}

.selected-rail-item::part(indicator) {
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--md-sys-color-secondaryContainer) !important;
}

.react-calendar-heatmap .color-empty {
    /*noinspection CssUnresolvedCustomProperty*/
    fill: var(--md-sys-color-surfaceContainerHigh) !important
}

.react-calendar-heatmap .color-scale-1 {
    /*noinspection CssUnresolvedCustomProperty*/
    fill: var(--md-sys-color-primary)
}

.react-calendar-heatmap .color-scale-2 {
    /*noinspection CssUnresolvedCustomProperty*/
    fill: var(--md-sys-color-secondary)
}

.react-calendar-heatmap .color-scale-3 {
    /*noinspection CssUnresolvedCustomProperty*/
    fill: var(--md-sys-color-tertiary)
}

@keyframes fadeAndSlideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(2.5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade {
    animation: .5s ease .25s 1 fadeAndSlideFromBottom;
    opacity: 1;
    transform: translateY(0);
    animation-fill-mode: backwards;
}