.artImage:hover {
    cursor: pointer;
    border-radius: 8px !important;
}

.artImage {
    transition: border-radius .2s ease, opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.css-n49kub-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--md-sys-color-primary) !important;
}

.selected-rail-item::part(indicator) {
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--md-sys-color-secondaryContainer) !important;
}

.react-calendar-heatmap .color-empty {
    /*noinspection CssUnresolvedCustomProperty*/
    fill: var(--md-sys-color-surfaceContainerHigh) !important
}

.react-calendar-heatmap .color-scale-1 {
    /*noinspection CssUnresolvedCustomProperty*/
    fill: var(--md-sys-color-primary)
}

.react-calendar-heatmap .color-scale-2 {
    /*noinspection CssUnresolvedCustomProperty*/
    fill: var(--md-sys-color-secondary)
}

.react-calendar-heatmap .color-scale-3 {
    /*noinspection CssUnresolvedCustomProperty*/
    fill: var(--md-sys-color-tertiary)
}

@keyframes fadeAndSlideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(2.5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade {
    animation: .5s ease .25s 1 fadeAndSlideFromBottom;
    opacity: 1;
    animation-fill-mode: backwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.appear-after-animation-end {
    animation: .5s ease .75s 1 fade-in;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.character-badge:hover {
    /*noinspection CssUnresolvedCustomProperty*/
    border: var(--md-sys-color-outlineVariant) 2px solid;
}

.character-badge {
    border-radius: 28px;
    border: 2px solid transparent;
    height: 100%;
}

.disabled:hover {
    cursor: not-allowed;
    filter: blur(2px);
}

@keyframes skeleton-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}