*:not(i) {
    /*noinspection CssUnresolvedCustomProperty*/
    font-family: var(--font-body), sans-serif;
}

h1 {
    color: var(--primary);
    font-weight: bold;
}

body {
    --inner: 24, 56, 127;
    --middle: 36, 87, 171;
    --outer: 46, 111, 206;
    background: repeat center linear-gradient(315deg, rgba(var(--outer), 100%) 0%, rgba(var(--middle), 100%) 20%, rgba(var(--inner), 100%) 30%, rgba(var(--inner), 100%) 70%, rgba(var(--middle), 100%) 80%, rgba(var(--outer), 100%) 100%);
    min-height: 100dvh;
}

#content {
    /*max-width: 1200px;*/
    margin-left: auto;
    margin-right: auto;
}

#main {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23bbbbbb' fill-opacity='0.1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    /*mask-image: linear-gradient(315deg, rgba(0, 0, 0, 1) 0%,rgba(0,0,0, 80%) 70%, rgba(0,0,0, 10%) 80%);*/
    min-height: calc(100lvh - 6rem - 50px);
    margin: 3rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#side {
    position: fixed;
    right: 4rem;
    top: 4rem;
    color: var(--on-primary);
    height: calc(100lvh - 6rem);
    max-width: 400px;
}

#home {
    z-index: 2;
}

@media screen and (min-width: 1600px) {
    #home {
        position: fixed;
        top: 2rem;
        width: 12rem;
    }
    .home-button {
        display: none;
    }
}

@media screen and (max-width: 1599px) {
    #home {
        display: none;
    }
}