*:not(i) {
    font-family: var(--font-body), sans-serif;
}

h1 {
    color: var(--primary);
    font-weight: bold;
}

.adaptive-flex, .large-adaptive-flex {
    flex-direction: column;
}

#content, #side {
    flex: 1;
    padding: 2rem;
}

@media only screen and (min-width: 601px) {
    .adaptive-flex {
        flex-direction: row;
    }
    #content, #side {
        flex-direction: row;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
    #side {
        height: calc(100dvh - 2rem);
        position: sticky;
        top: 1rem;
        width: 400px;
    }
}

@media only screen and (min-width: 993px) {
    .large-flex {
        flex: 1
    }
}

::view-transition-group(bottom-app-bar) {
    z-index: 1;
}


body:has(:popover-open) {
    .container, #navigation-bar {
        pointer-events: none;
        touch-action: none;
    }
}