.artwork {
    object-fit: contain;
    object-position: top;
    border-radius: 0;
    width: 100%;
    max-height: calc(100dvh - 8rem - 20px - 56px - 2rem);
    padding: 1rem .5rem;
}

#container {
    height: inherit;
}

.metadata {
    max-height: calc(100dvh - 8rem - 56px - 1rem);
}

.artwork-alt {
    cursor: pointer;
    width: 100%;
    height: auto;
}