.artwork {
    object-fit: contain;
    object-position: top;
    border-radius: 0;
    max-width: 100%;
    max-height: calc(100dvh - 8rem - 20px - 56px - 2rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#container {
    height: inherit;
}

.metadata {
    max-height: calc(100dvh - 8rem - 56px - 1rem);
}